@import "./base.css";

@font-face {
  font-family: "dxcitrus";
  src: url("@/assets/fonts/DxSitrus-Expanded.otf");
}

@font-face {
  font-family: "vox";
  src: url("@/assets/fonts/vox_regular15.ttf");
}
