@import "./base.css";
@font-face {
  font-family: "mael";
  src: url("@/assets/fonts/MAEL.ttf");
}
@font-face {
  font-family: "dxcitrus";
  src: url("@/assets/fonts/DxSitrus-Expanded.otf");
}
@font-face {
  font-family: "detacher";
  src: url("@/assets/fonts/Detacher-Regular.ttf");
}
@font-face {
  font-family: "exo";
  src: url("@/assets/fonts/exo/Exo-Regular.otf");
}

@font-face {
  font-family: "vox";
  src: url("@/assets/fonts/vox_regular15.ttf");
}
